.element {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 78% 22%;
    /* width: 282px;
    max-width: 100%; */
    max-width: 282px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}